footer {
    background-image: url("/images/footer-bg.jpg");
    color: $light_color;
    background-repeat: no-repeat;
    background-size: cover;

    .footer-cont {
        display: flex;

        .left-foot, .right-foot {
            width: 50%;
        }
    }
}

.second-bg {
    background-image: url("/images/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    background-position: bottom;
}
