#series {
    background-color: $dark_bg_color;
    color: $light_color;
    .comic-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .comic {
            flex-basis: $comic_thumb_size;
            margin-bottom: 30px;

            .comic-img {
                width: $comic_thumb_size;
                height: $comic_thumb_size;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }
}

.section-title {
    background-color: $main_color;
    color: $light_color;
    display: inline-block;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 10px 30px;
}
